a{
	color:#FF0000;
}

h2 {
	color:#FF0F43E4
}


div{
	color: #6BA62A;
	font-size: 17px;
}
h1 {
	text-align: center; 
	color:#415EE7 ;
}
#отправитель{
	color: #46FF59FF;
}

#поставькласс {
	color: #EBC75C;
	text-align: center;
}
#первыйзаголовок{
	color: #FF0000;
	font-size: 50px;
}